.p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 1vh 1em;
}

._labelStyle {
    display: block;
}

.panel {
    height: 100%;
}