<div class="ui-g">
  <p-panel class="panel">
    <ng-template pTemplate="header">
      <a routerLink="/home"><strong>Home >></strong></a
      >><a routerLink="/activity"
        ><strong>Activity Definition Listing</strong></a
      >
    </ng-template>
    <ng-template pTemplate="icons">
      <div>
        <p-button
          label="Add Activity Definition"
          (click)="addActivity()"
          styleClass="p-button-sm"
        ></p-button>
      </div>
    </ng-template>
    <div class="ui-g-12">
      <div class="ui-g">
        <div class="grid">
          <div
            class="col-3 md:col-6 lg:col-3 sm:col-12"
            (mouseenter)="onFocus(filterDepartment)"
            (mouseleave)="onFocus()"
          >
            <label for="" class="_labelStyle"
              ><strong> Department/Directorate</strong
              ><span class="red-star">★</span></label
            >
            <p-autoComplete
              placeholder="Select Department"
              [(ngModel)]="filterDepartment"
              [suggestions]="filterDepartmentList"
              [style]="{ width: '100%', 'text-overflow': 'ellipsis' }"
              (completeMethod)="getFilterDepartmentList($event)"
              field="label"
              type="search"
              [dropdown]="true"
              [pTooltip]="toolTipData"
              [inputStyle]="{ width: '100%' }"
              [minLength]="1"
              (onSelect)="onDepartmentSelect()"
              (onClear)="onDepUnSelect()"
            ></p-autoComplete>
          </div>
          <div
            class="col-3 md:col-6 lg:col-3 sm:col-12"
            (mouseenter)="onFocus(filterOfficeLevel)"
            (mouseleave)="onFocus()"
          >
            <label for="" class="_labelStyle"
              ><strong> Office Level(Optional)</strong></label
            >
            <p-autoComplete
              placeholder="Select Office Level"
              [(ngModel)]="filterOfficeLevel"
              [suggestions]="filterOfficeLevelList"
              [style]="{ width: '100%' }"
              (completeMethod)="getFilterOfficeLevelList($event)"
              field="label"
              type="search"
              [dropdown]="true"
              [pTooltip]="toolTipData"
              [disabled]="!isDepSelect"
              [inputStyle]="{ width: '100%' }"
              [minLength]="1"
              (onSelect)="onOfficeLevelSelect()"
              (onClear)="onOfcLvlUnSelect()"
            ></p-autoComplete>
          </div>
          <div
            class="col-3 md:col-6 lg:col-3 sm:col-12"
            (mouseenter)="onFocus(filterOffice)"
            (mouseleave)="onFocus()"
          >
            <label for="" class="_labelStyle"
              ><strong>Office(Optional)</strong></label
            >
            <p-autoComplete
              placeholder="Select Office"
              [(ngModel)]="filterOffice"
              [suggestions]="filterOfficeList"
              [style]="{ width: '100%' }"
              (completeMethod)="getFilterOfficeList($event)"
              field="label"
              type="search"
              [dropdown]="true"
              [pTooltip]="toolTipData"
              [disabled]="!isOfcLvlSelect"
              [inputStyle]="{ width: '100%' }"
              [minLength]="1"
              (onSelect)="onOfficeSelect()"
            ></p-autoComplete>
          </div>
        </div>
        <div class="grid">
          <div
            class="col-3 md:col-6 lg:col-3 sm:col-12"
            (mouseenter)="onFocus(filterProcess)"
            (mouseleave)="onFocus()"
          >
            <label for="" class="_labelStyle"
              ><strong> Process</strong><span class="red-star">★</span></label
            >
            <p-autoComplete
              placeholder="Select Process"
              [(ngModel)]="filterProcess"
              [suggestions]="filterProcessList"
              [style]="{ width: '100%', 'text-overflow': 'ellipsis' }"
              (completeMethod)="getFilterProcessList($event)"
              field="label"
              type="search"
              [dropdown]="true"
              [pTooltip]="toolTipData"
              [inputStyle]="{ width: '100%' }"
              [minLength]="1"
              (onSelect)="onProcessSelect()"
              (onClear)="onProcUnSelect()"
            ></p-autoComplete>
          </div>
          <div
            class="col-3 md:col-6 lg:col-3 sm:col-12"
            (mouseenter)="onFocus(filterActivity)"
            (mouseleave)="onFocus()"
          >
            <label for="" class="_labelStyle"
              ><strong>Activity</strong><span class="red-star">★</span></label
            >
            <p-autoComplete
              placeholder="Select Activity"
              [(ngModel)]="filterActivity"
              [suggestions]="filterActivityList"
              [style]="{ width: '100%' }"
              (completeMethod)="getFilterActivityList($event)"
              field="label"
              type="search"
              [dropdown]="true"
              [pTooltip]="toolTipData"
              [disabled]="!isProcessSelect"
              [inputStyle]="{ width: '100%' }"
              [minLength]="1"
              (onSelect)="onActivityListSelect()"
            ></p-autoComplete>
          </div>
          <div class="col-2" style="margin-top: 15px">
            <div class="flex justify-content-start">
              <div class="field-checkbox">
                <p-checkbox
                  [(ngModel)]="isActive"
                  [binary]="true"
                  inputId="binary"
                ></p-checkbox>
                <label for="binary"><strong>Show Active Only</strong></label>
              </div>
            </div>
          </div>
          <div
            class="col-4 md:col-3 lg:col-4 sm:col-12"
            style="margin-top: 10px"
          >
            <div class="flex justify-content-end">
              <p-button
                label="Search"
                icon="pi pi-search"
                styleClass="p-button-sm"
                (click)="onSearch()"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table
          class="table"
          styleClass="p-datatable-gridlines"
          [value]="activieDefinitions"
          responsiveLayout="stack"
          [responsive]="true"
          [loading]="loading"
          [paginator]="true"
          [rowHover]="true"
          [rows]="rowsperPage"
          [totalRecords]="totalacdCount"
          [(first)]="currentPage"
          [style]="{ width: '100%' }"
          [filterDelay]="0"
          selectionMode="single"
          (onRowSelect)="onActivitySelect($event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="rowIndex">
                SNO<p-sortIcon field="rowIndex"></p-sortIcon>
              </th>
              <th pSortableColumn="depCode">
                Department<p-sortIcon field="depCode"></p-sortIcon>
              </th>
              <th pSortableColumn="offLevCode">
                Office Level<p-sortIcon field="offLevCode"></p-sortIcon>
              </th>
              <th pSortableColumn="offCode">
                Office<p-sortIcon field="offCode"></p-sortIcon>
              </th>
              <th pSortableColumn="procName">
                Process<p-sortIcon field="procName"></p-sortIcon>
              </th>
              <th pSortableColumn="actName">
                Activity<p-sortIcon field="actName"></p-sortIcon>
              </th>
              <th pSortableColumn="wfTempName">
                Workflow Template Name<p-sortIcon
                  field="wfTempName"
                ></p-sortIcon>
              </th>
              <th pSortableColumn="createdDate">
                Created Date<p-sortIcon field="createdDate"></p-sortIcon>
              </th>
              <th pSortableColumn="createdBy">
                Created By<p-sortIcon field="createdBy"></p-sortIcon>
              </th>
              <th pSortableColumn="isActive">
                Status<p-sortIcon field="isActive"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-activeDef let-rowIndex="rowIndex">
            <tr [pSelectableRow]="activeDef">
              <td><span class="p-column-title">SNO</span>{{ rowIndex + 1 }}</td>
              <td pTooltip="{{ activeDef.depName }}">
                <span class="p-column-title">Department</span
                >{{ activeDef.depCode }}
              </td>
              <td pTooltip="{{ activeDef.offLevName }}">
                <span class="p-column-title">Office Level</span
                >{{ activeDef.offLevCode }}
              </td>
              <td pTooltip="{{ activeDef.offName }}">
                <span class="p-column-title">Office</span
                >{{ activeDef.offCode }}
              </td>
              <td>
                <span class="p-column-title">Process</span
                >{{ activeDef.procName }}
              </td>
              <td>
                <span class="p-column-title">Activity</span
                >{{ activeDef.actName }}
              </td>
              <td>
                <span class="p-column-title">Workflow Template Name</span
                >{{ activeDef.wfTempName }}
              </td>
              <td>
                <span class="p-column-title">Created Date</span
                >{{ activeDef.createdDate | date: "dd/MM/yyyy" }}
              </td>
              <td>
                <span class="p-column-title">Created By</span
                >{{ activeDef.createdBy }}
              </td>
              <td>
                <span class="p-column-title">Status</span
                >{{ activeDef.isActive | statusTransperPipe: "1" }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td
                [ngClass]="{
                  'red-star': alertMessage === 'No Activity Definition Found'
                }"
                [attr.colspan]="10"
              >
                {{ alertMessage }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </p-panel>
</div>
